body {
    font-family: "Source Serif Pro",Helvetica,Arial,sans-serif;
    font-size: 18px;
    line-height: 1.728571;
}

.navbar-inverse {
    background-color: #060606}
.navbar-inverse .navbar-nav>.active>a:hover,.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
    background-color: #2E7D9E}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
    background-color: #060606}
.dropdown-menu {
    background-color: #F2F2F2}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    background-color: #12303D}
.navbar-inverse {
    background-image: none; }
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    background-image: none; }
.navbar-inverse {
    border-color: #060606}
.navbar-inverse .navbar-brand {
    color: #2E7D9E}
.navbar-inverse .navbar-brand:hover {
    color: #2E7D9E}
.navbar-inverse .navbar-nav>li>a {
    color: #2E7D9E}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
    color: #060606}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
    color: #2E7D9E}
.navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
    color: #060606}
.dropdown-menu>li>a {
    color: #333333}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    color: #FFFFFF}
.navbar-inverse .navbar-nav>.dropdown>a .caret {
    border-top-color: #999999}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret {
    border-top-color: #FFFFFF}
.navbar-inverse .navbar-nav>.dropdown>a .caret {
    border-bottom-color: #999999}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret {
    border-bottom-color: #FFFFFF}

@media (min-width: 1000px) {
    .container{
        max-width: 850px;
    }
}


/* found here. definitely needs more editing. https://github.com/getpelican/pelican/issues/1421#issuecomment-50413004 */
table {
  border-spacing: 0;
  border-collapse: collapse;
}
td,
th {
  padding: 0;
}
}
table {
  background-color: #060606;
}
th {
  text-align: left;
}
table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}
table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #060606;
}
table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #060606;
}
table > caption + thead > tr:first-child > th,
table > colgroup + thead > tr:first-child > th,
table > thead:first-child > tr:first-child > th,
table > caption + thead > tr:first-child > td,
table > colgroup + thead > tr:first-child > td,
table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
table > tbody + tbody {
  border-top: 2px solid #060606;
}
table table {
  background-color: #060606;
}
table-condensed > thead > tr > th,
table-condensed > tbody > tr > th,
table-condensed > tfoot > tr > th,
table-condensed > thead > tr > td,
table-condensed > tbody > tr > td,
table-condensed > tfoot > tr > td {
  padding: 5px;
}
table-bordered {
  border: 1px solid #ddd;
}
table-bordered > thead > tr > th,
table-bordered > tbody > tr > th,
table-bordered > tfoot > tr > th,
table-bordered > thead > tr > td,
table-bordered > tbody > tr > td,
table-bordered > tfoot > tr > td {
  border: 1px solid #060606;
}
table-bordered > thead > tr > th,
table-bordered > thead > tr > td {
  border-bottom-width: 2px;
}
table-striped > tbody > tr:nth-child(odd) > td,
table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #060606;
}
table-hover > tbody > tr:hover > td,
table-hover > tbody > tr:hover > th {
  background-color: #060606;
}
table col[class*="col-"] {
  position: static;
  display: table-column;
  float: none;
}
table td[class*="col-"],
table th[class*="col-"] {
  position: static;
  display: table-cell;
  float: none;
}

tr.collapse.in {
  display: table-row;
}
tbody.collapse.in {
  display: table-row-group;
}
